@font-face {
  font-family: 'LogoFont';
  src: url('/fonts/logo-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-logo: 'LogoFont', Arial, Helvetica, sans-serif;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #171717;
  background: #ffffff;
  font-family: var(--font-varela-round), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  text-align: right;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: light;
}

