.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #171717;
  text-align: right;
}
